body{
    background: #bdbdbd;
    margin: 0;
}

div{
    box-sizing: border-box;
}

header{
    background: white;
    padding: 10px;
}

header h1{
    margin: 0;
}

div.post{
    background: white;
    margin-top: 50px;
}

div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}

div.post img{
    width: 100%;
    height: fit-content;
}


div.post .post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div.post .post-header h2{
    margin: 5 0 0 0;
}

.post-title {
  display: flex;             /* coloca el icono y el bloque de texto en fila */
  align-items: center;       /* centra verticalmente */
  gap: 10px;                 /* espacio entre el icono y el texto */
}

.post-title #title-text {
  display: flex;
  flex-direction: column;   /* apila el h2 y el p */
  line-height: 0;         /* mejora el espacio entre ellos */
}

div.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

div.container{
    width: 600px;
    margin: auto;
}


div.post-body p{
    padding: 10px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

#ellipsiss{
    width: 50;
    height: 50;
    margin: 10 5 0 0;
}

#icon{
    width: 40;
    height: 40;
    margin-top: 10;
}

#perfil{
    width: 40;
    height: 40;
    margin: 0 0 0 10;
}


